
@{
    ViewData["Title"] = "Message";
}

<div class="Container">
    <div class="center-block" style="padding-top: 50px;">
        <h1>You Can't Order for Pizzas Now, pls choose a different location or Log out</h1>
        <br />
        <form asp-action="Index" asp-controller="Home">
            <div class="login-submit" onclick="javascript: document.forms[0].submit();"> Back To Login</div>
        </form>
    </div>
</div>








