

    <div class="container" style="padding-top: 60px">

        <div style="display:flex; flex-wrap:nowrap; width:60%; margin: 0 auto">
            <img src="@Url.Content("~/images/Pizza.png")" style="width:30%; height: 30%" />
            <h1 style="font-size: 50px; font-weight:600; font-family:cursive; padding-top:45px;">PIZZA BOX </h1>
        </div>



        <div class="center-block">

            <div class="login-submit"> <a style="text-decoration: none; color: white" asp-action="PizzaInventory" asp-controller="Inventory"> Inventory </a> </div>
            <div class="login-submit"> <a style="text-decoration: none; color: white" asp-action="ViewOrdersAdmin" asp-controller="Order"> View Orders</a> </div>
            <div class="login-submit"> <a style="text-decoration: none; color: white" asp-action="ViewUsers" asp-controller="User"> View Users</a> </div>
            <div class="login-submit">
                <a style="text-decoration: none; color: white" asp-action="Index" asp-controller="Home"> Sign Out </a>

            </div>
        </div>

        </div>


