/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

header img, header nav, header .btn-order {
    display: inline-block;
    vertical-align: middle;
}

#nav {
    height: 80px;
    max-width: 100%;
    line-height: 200%;
}

header .header-logo {
    width: 150px;
    height: 80px;
    margin: 0 10px;
    padding: 8px;
}

header {
    width: 100%;
    z-index: 999;
    position: fixed;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ff0000;
    height:auto;
}


ul {
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
}

ul li {
        display: inline;
        float: left;
        padding-right: 20px;
 }

#nav a:hover {
    background-color: #fff;
    color: #000;
}

#nav a.active {
    background-color: #fff;
    color: #000;
}

#nav a {
    display: block;
    padding: 10px 10px;
    /* background-color: #dee; */
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    font-family: arial;
    /* text-shadow: 2px 0 #888888; */
    color: white;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
